{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      },
      "debug": true,
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": 6
          }
        }]
      ]
    }
  }
}

