{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      },
      "debug": true,
      "useBuiltIns": "entry"
    }],
    ["@babel/preset-stage-0", {"decoratorsLegacy": true}]
  ]
}

